@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Poppins:wght@500&display=swap');
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Poppins', sans-serif; */


@media only screen and (max-width: 1207px) {
    h1 {
        font-size: 37px;
    }
    p {
        font-size: 18px;
    }
}

/* Estilos para dispositivos com largura de tela entre 768 e 959 pixels */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    h1 {
        font-size: 35px;
    }
    p {
        font-size: 18px;
    }
}

/* Estilos para dispositivos com largura de tela até 767 pixels */
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 15px;
    }
}


:root{
    --cor0:#08A4BD;
    --cor1:#5438DC;
    --cor2:#1B1F22;
    --cor3:#272D2D;
    --cor4:#EDF2F4;
    --cor5:#FFFCFF;

    --fonte-padrao: 'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

/*Navbar*/
nav{
    display: flex;
    justify-content: space-around;
    font-family: var(--fonte-padrao);
    margin-top: 0;
    align-items:center;
    color: var(--cor2);
    background-color: var(--cor5);
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(136, 136, 136, 0.25);
}
.logo{
    font-weight: 600;
    font-size: 20px;
}
.nav-itens{
    align-items: center;
    list-style: none;
    display: flex;
}
.nav-itens>li>a{
    padding-left: 20px;
    color: var(--cor2);
    text-decoration: none;
    font-weight: 500;
}
.nav-itens>li>a>button{
    border-style: none;
    border-radius: 15px;
    background-color: #272D2D;
    color: #EDF2F4;
    padding:8px;
    font-size: 15px;
}
/*Hey , I'm developer*/
.hey{
    margin: 80px 50px 0px 50px;
    font-family: var(--fonte-padrao);
}
.apresentacao{
    text-align:left ;
}

.texto{
    font-family: var(--fonte-padrao);
    margin: 80px 50px 0px 50px;
}
.imagens{
    margin: 50px 20px 50px 50px;
    display: flex;
    justify-content:space-around ;
}
#img{
    background-color: var(--cor5);
    box-shadow: 2px 2px 4px #00000021 ;
    border-radius: 25px;
    width: 200px;
    height: 200px;
}
.texto>p{
    margin-top: 25px
}
