@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: #141414;
    text-decoration: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/*Navbar*/
nav{
    display: flex;
    color: #EDF2F4;
    justify-content: space-around;
    align-items: center;
    padding: 1.4em 3em;
    background-color: #141414;
    
}
nav a{
    color: #EDF2F4;
}
.logo{
    display: flex;
    font-weight: 700;
    font-size: 2rem;
    align-items: center;
}
#logo_ico{
    margin-right: 0.3em;
    width: 1em;
    height: 1em;
    align-items: center;
}
.nav_itens{
    display: flex;
    list-style: none;
    transition: 0.5s ease;
}
.nav_itens li a {
    font-size: 1.2em;
    margin-left: 4em;
    font-weight: 600;
}
.nav_itens li a:hover{
    transition: 0.5s;
    color: #cf0e0e;
    border-bottom: #cf0e0e 4px solid ;
}
.logo:hover{
    transition: 0.8s;
    color: #cf0e0e;
    transform: scale(1.1);
}
#logo_ico{
    color: #cf0e0e;
}


/*Parallax*/
.wrapper{
    width: 100%;
    margin: 0 auto;
}
main{
    color: #EDF2F4;
    display: block;
}

section.module>h1{
    text-align: center;
    background: transparent;
    position: relative;
    top: -1em;
    font-size: 3em;
    text-shadow: #141414 -7px 7px 12px;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 50px 20px;
}
section.module.content{
    padding: 40px 0;
    background: #141414;
}
section.module p{
    margin-bottom: 1.4em;
}

section.module h2{
    margin-bottom: 0.8em;
}

section.module:last-child{
    margin-bottom: 0;
}
section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover; 
}

section.module.parallax::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
}

section.module.parallax-1{
    background-image: url(midias/wes-tindel-TCXGFN4kW9I-unsplash.jpg);
}

section.module.parallax-2{
    background-image: url(midias/wes-tindel-Yt0z0XOamFQ-unsplash.jpg);
}
section.module.parallax-3{
    background-image: url(midias/adam-kenton-UlfLGl7TvcY-unsplash.jpg);
}
.container_plx2{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 50px 60px;
    border-radius: 20px;
    background-color: #141414;
}
